<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh; /* Remplit toute la hauteur de la fenêtre */
                background-color: #f8f9fa; /* Couleur de fond légère */
            }
            .logo-container {
                text-align: center; /* Centrer le contenu du conteneur */
                margin-bottom: 20px; /* Espacement entre le logo/titres et le formulaire */
            }
            .form-container {
                max-width: 400px; /* Limiter la largeur du formulaire */
                width: 100%; /* S'assurer que le formulaire utilise toute la largeur disponible */
                margin: 0 auto; /* Centrer horizontalement le conteneur du formulaire */
            }
            #logo {
                width: 150px; /* Ajustez la taille du logo ici */
                height: auto; /* Conserver les proportions du logo */
            }
        </style>
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
           <nav class="col-md-3 col-lg-2 d-md-block sidebar">
               <div class="position-sticky pt-3">
                   <div class="logo-details">

                       <span class="logo_name">Page de connexion</span>
                   </div>
               </div>
           </nav>

            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block body %}
                <div class="text-center mt-5">
                    <img src="{{ asset('images/icon/logo2.png') }}" alt="Logo" id="logo">
                    <h1 class="h3 mb-3" style="font-weight: bold;">Connexion</h1>
                    <h1 class="h3 mb-3" style="font-weight: bold;">Gestion de Stock</h1>
                </div>

               <div class="form-container">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
               Votre jeton a expiré. Veuillez vous déconnecter. <a href="{{ path('app_logout') }}"><br/>Me déconnecter</a>
            </div>
        {% endif %}

        <div class="mb-3">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        </div>
        <div class="mb-3">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="d-flex justify-content-center"> <!-- Ajouté ici -->
            <button class="btn btn-lg btn-primary" type="submit">
                Me connecter
            </button>
        </div>
    </form>
</div>

                {% endblock %}
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% block javascripts %}{% endblock %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
</body>
</html>
